#admin-hd {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#admin-hd>img {
    margin-left: 40px;
}

#admin-hd>button {
    margin-right: 70px;
}

.admin-change {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px solid #d3d3d3;
    border-radius: 8px;
}

.admin-change>img {
    width: 24px;
    margin-left: 8px;
}

.input-admin {
    padding: 8px 12px;
    border: 1.5px solid #d3d3d3;
    border-radius: 4px;
}

.choose {
    background-color: rgb(255, 235, 245) !important;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    margin: 16px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-item > img {
    width: 60px;
}

.list-item > p {
    display: flex;
    align-items: center;
}

.action-p {
    padding-left: 25px;
    cursor: pointer;
}

.order-admin {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.order-admin > select {
    height: 30px;
    margin-top: 10px;
}

.order-admin > img {
    width: 50px;
}

.order-admin p {
    font-size: 15px;
}

.name-order-admin {
    font-weight: 500;
}

@media (max-width: 640px) {
    #img-1-admin, #img-2-admin, #img-3-admin, #img-4-admin {
        width: 60px;
    }

    #admin-1, #admin-2, #admin-3 {
        display: none;
    }

    #admin-100 {
        display: block !important;
    }

    #admin-display input, #admin-display textarea {
        max-width: 200px !important;
    }
    #admin-display {
        margin-inline: 30px !important;
    }
    #list-100 {
        display: none !important;
    }
    .list-item {
        grid-template-columns: 1fr 3fr 1fr !important;
    }
    .order-admin {
        display: flex !important;
        flex-direction: column !important;
    }
}